@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Della+Respira&display=swap');

*{
    margin: 0;
    padding: 0;

}

header{
    padding: 60px;
    background-color: black;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header > h1{
    font-family: 'Della Respira', serif;
    position: relative;
    font-size: 6vw;
    text-align: center;
    font-variant: small-caps;
}

header p{
    font-family: 'Oooh Baby', cursive;
    position: relative;
    font-size: 1.2em;
    text-align: center;
    font-variant: small-caps;
}

header p > a{
    color: white;
    text-decoration: none;
}

header p > a:hover{
    text-decoration: underline;
    font-weight: bolder;
}

section p{
    font-family: 'Oooh Baby', cursive;
    text-align: justify;
}

section{
    font-size: 5vw;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.411);
    font-weight: bold;
    font-style: italic;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 30px;
}

#primeiro{
    background: black url('../imagens/background001.jpg') right center fixed;
}

section.imagem{
    background-size: cover;
    color: white;
    font-weight: bolder;
    box-shadow: 5px 5px 13px 0px rgba(0, 0, 0, 0.74) inset;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.507);
    padding: 15px;
    display: inline-block;
}

#segundo{
    background: black url('../imagens/background002.jpg') right center  fixed;
}


footer{
    background-color: black;
    padding: 4px;
    color: white;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    font-weight: bolder;
    text-decoration: underline;
}

footer p{
    text-align: center;
}